$filmstrip-height: 100px
$filmstrip-gap: -2px

.filmstrip
  overflow: hidden
  width: 100%
  background-color: rgba(black, 0.3)
  height: $filmstrip-height
  text-align: center
  white-space: nowrap

  .filmstrip-image
    display: inline-block
    margin-right: $filmstrip-gap
    height: $filmstrip-height !important
    width: auto !important
    max-width: $filmstrip-height * (4 / 3)
    object-fit: cover
    opacity: 0.6
    transition: all 0.3s ease
    border: 2px solid transparent
    position: relative

    img
      display: block
      height: 100%
      width: 100%
      object-fit: cover

    .progress-overlay
      position: absolute
      top: 0
      left: 0
      width: 0%
      height: 100%
      background-color: rgba(color('green', 'lighten-1'), 0.4)
      transition: width 0.1s ease


    &:last-child
      margin-right: 0

    &.active
      border: 2px solid $secondary-color
      opacity: 1.0 !important

    &:hover
      cursor: pointer
      opacity: 0.8
