.btn
  @extend .truncate
  //background-color: $button-background

  &.low-pad
    padding-left: 1rem
    padding-right: 1rem

  &.disabled, &:disabled
    color: rgba(white, 0.4) !important
    opacity: 0.8
    background-color: rgba(black, 0.1) !important

  &.btn-square
    @extend .z-depth-1
    border-radius: 0

  &.btn-block
    display: block
    width: 100%

  &.btn-secondary
    color: rgba(white, 0.8)
    background-color: rgba(color('grey', 'darken-3'), 0.8)

  &.btn-flat
    color: rgba(white, 0.8)
