.card
  /*z-index: 100*/
  @at-root
    .card-panel
      padding: 1.5rem
      display: block

  &.admin
    background-color: $admin-bg-color
    border: 1px solid rgba($admin-color, 0.4)
    box-shadow: 0 2px 2px 0 rgba($admin-bg-color, 0.14), 0 3px 1px -2px rgba($admin-bg-color, 0.12), 0 1px 5px 0 rgba($admin-bg-color, 0.2)

    .card-header, .card-footer
      background-color: darken($admin-bg-color, 1%)

  &.card-light
    background-color: $page-bg-color

  &.notification
    border-left: 5px solid transparent

    &.notification-unread
      border-left-color: $brand-dark

  &.sp
    .card-content
      padding: 1rem

    .title
      font-size: 1.5rem
      margin-top: 0
      color: $secondary-color
      font-weight: 300

  &.flat
    @extend .z-depth-0
    margin: 0
    border-bottom: 1px solid $lighten-color

    .card-content
      padding: 1rem

  &.with-avatar
    &.sp
      .card-content
        min-height: calc(48px + 1rem)
        margin-bottom: 1rem

    & > .avatar
      position: absolute
      top: 1rem
      left: 1rem
      width: 48px
      height: 48px

    .activity
      &.shift-up
        margin-top: -7px

      .card-content
        min-height: 0
        margin-left: 0

    .card-content
      margin-left: calc(48px + 1rem)

      .action-link
        line-height: initial
        margin-left: 1rem

        &.done
          color: $text-light-color

        i.material-icons
          font-size: 1.2rem
          line-height: initial
          vertical-align: middle

  .card-header
    padding: 1rem
    background-color: darken($card-bg-color, 1%)

    &.fix-height
      height: 3rem
      line-height: 1rem

      h2
        line-height: 1rem

      input
        display: inline-block
        width: auto
        margin: -1rem 0
        border: none
        border-bottom: 1px solid rgba(white, 0.1)
        height: calc(3rem - 1px)
        line-height: calc(3rem - 1px)
        text-align: center

    .btn-group
      margin: -1rem

      .btn
        padding: 0 1rem
        height: 3rem
        border-radius: 0
        box-shadow: none
        line-height: 3rem
        color: white
        vertical-align: middle

        i.material-icons
          transition: color 0.3s ease
          color: inherit
          line-height: 3rem
          vertical-align: middle

        &:hover
          color: white

          i.material-icons
            color: white !important

    h2
      margin: 0
      height: auto
      font-size: 1.2rem
      font-weight: normal

  .card-action
    border-top: none
    background-color: darken($card-bg-color, 1%)

    button, .btn
      @extend .z-depth-0
      margin: -0.5rem 0

    a:not(.btn)
      text-transform: initial
      color: $brand-primary
      margin-right: 0

      &:hover
        color: $brand-primary


    .author
      img
        height: 40px
        margin-right: 1rem

  .card-footer
    background-color: darken($card-bg-color, 1%)
    padding: 0.5rem 1rem

    button, .btn
      @extend .z-depth-0

  &.summary-card
    .card-image
      margin: 0
      padding: 1rem
      background-color: darken($card-bg-color, 5%)
      position: relative

      .material-icons
        font-size: 5rem
        display: block
        margin: 0
        color: $brand-dark

      .notification
        position: absolute
        top: 1rem
        right: 0
        font-size: 0.8rem
        background-color: color('red', 'darken-3')
        color: white
        border-radius: 2px 0 0 2px
        padding: 0.25rem 1rem

    .card-title
      @extend .truncate

      line-height: initial
      color: $page-text-color
      margin: 0 0 0.25rem 0
      font-size: 1.3rem

    .card-flags
      font-size: 0.8rem
      color: $text-light-color
      line-height: 1rem
      vertical-align: middle

      .material-icons
        font-size: inherit
        margin-left: 0.25rem
        width: auto
        line-height: inherit
        vertical-align: middle

    .description
      @extend .truncate
      font-size: 0.9rem
      margin-bottom: 0.5rem

    .card-content
      padding: 1rem
