.chat-popout
  @extend .card
  @extend .z-depth-3

  position: fixed
  z-index: 10001
  bottom: 0
  right: 1rem
  min-height: 5px
  margin: 0
  width: auto
  max-width: 100%
  vertical-align: bottom

  @at-root
    .chat-tray
      position: fixed
      z-index: 10001
      bottom: 0
      right: 0
      overflow: hidden
      white-space: nowrap
      direction: rtl

      .chat-popout
        @extend .z-depth-3
        display: inline-block
        position: relative
        width: 325px
        right: 0
        white-space: normal
        direction: initial
        margin: 1rem 1rem 0 1rem

  &.unread
    .chat-title
      background-color: $brand-darker

  &.open
    width: 350px

    .chat-title
      //background-color: $brand-primary

  .chat-title
    @extend .card-header
    padding: 0 3rem 0 3rem
    font-weight: bold
    color: white
    line-height: 3rem
    height: 3rem
    vertical-align: middle
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    position: relative
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    background-color: rgba(0, 0, 0, 0.4)

    a
      line-height: 3rem
      display: block

      i.material-icons
        height: 3rem
        line-height: 3rem
        vertical-align: middle

      span.username
        padding-left: 1rem

    a.right
      position: absolute
      right: 0
      top: 0
      height: 100%
      transition: background-color 0.3s ease
      text-align: center
      width: 2.5rem

      &:hover
        background-color: rgba(white, 0.1)

    a.left
      position: absolute
      left: 0
      top: 0
      height: 100%
      transition: background-color 0.3s ease
      text-align: center
      width: 2.5rem

      &:hover
        background-color: rgba(white, 0.1)

  .chat-more-pill
    @extend .z-depth-2
    position: absolute
    font-size: 0.9rem
    bottom: 50px
    left: 50%
    transform: translateX(-50%)
    border-radius: 13px
    height: 26px
    background-color: $brand-darker
    color: white
    line-height: 20px
    padding: 3px 1rem
    cursor: pointer
    opacity: 0.4
    transition: opacity 0.3s ease

    &:hover
      opacity: 1.0

  .chat-loading
    height: 345px
    padding: 100px 1rem 1rem 1rem
    text-align: center
    margin: 0

    &:not(.error)
      font-size: 1.4rem
      font-weight: 300
      color: $text-light-color

  .chat-list
    margin: 0
    overflow: auto
    height: 300px
    padding: 0.25rem 0
    position: relative

    .chat-message
      background-color: rgba(white, 0.05)
      margin: 0.25rem 0.5rem
      width: auto
      border-radius: 0.5rem
      border: none
      clear: both
      padding: 0.5rem 1rem

      &.error
        background-color: rgba(red, 0.05) !important

      &.emote
        background-color: transparent !important
        color: $primary-color-dark
        font-style: italic
        padding: 0.5rem 0

        &:not(.self)
          color: $page-text-color

      &:after
        display: block
        clear: both
        content: ''

      .only-emoji
        img
          width: 2rem !important
          height: 2rem !important
          margin: 0 0 0 0.5rem !important

          &:first-child
            margin-left: 0 !important

      .time
        float: right
        font-size: 0.8rem
        line-height: 0.9rem
        display: inline-block
        color: rgba(white, 0.3)

        i.material-icons
          font-size: 0.9rem
          margin-left: 3px
          vertical-align: bottom
          line-height: 0.9rem

      &:not(.self)
        border-bottom-left-radius: 0
        float: left
        margin-right: 1.5rem

      &.self
        background-color: rgba($brand-primary, 0.1)
        float: right
        border-bottom-right-radius: 0
        margin-left: 1.5rem

    .chat-end-of-messages
      border: none
      clear: both

      &:hover
        background-color: transparent
        cursor: initial

      &:not(.more)
        height: 0
        padding: 0
        margin: 0

      &.more
        font-size: 0.9rem
        color: rgba($brand-primary, 0.8)
        padding: 1rem 0.5rem 0.25rem 0.5rem
        margin: 0 0 0.5rem 0
        text-align: left
        border-bottom: 1px solid rgba($brand-primary, 0.5)
        font-variant: small-caps

    .clearfix
      display: block
      clear: both

      &:after
        content: ""
        clear: both
        display: table

    .chat-conversation
      $avatar-size: 2.5rem

      &.unread
        background-color: rgba(white, 0.05)

        & > a
          border-left: 0.2rem solid $brand-darker
          padding-left: $avatar-size + 1.3rem

          img.avatar
            left: 0.3rem

          .title
            font-weight: bold
            color: $brand-primary

          .last-message
            color: white !important

      & > a
        display: block
        position: relative
        height: $avatar-size + 1rem
        padding: 0.5rem 0.5rem 0.5rem $avatar-size + 1.5rem
        transition: background-color 0.3s ease

        &:hover
          background-color: rgba(white, 0.1)

        .time
          float: right
          vertical-align: top
          line-height: 1.25rem
          font-size: 0.8rem
          display: inline-block
          color: color('grey', 'darken-2')

        .title
          line-height: 1.25rem
          vertical-align: top
          margin-bottom: 0.25rem
          color: $brand-primary

          .unread-count
            color: $text-light-color
            font-weight: normal !important
            font-size: 0.8rem
            margin-left: 0.5rem
            vertical-align: top
            line-height: 1.25rem
            display: inline-block

        .last-message
          font-size: 0.9rem
          white-space: nowrap
          text-overflow: ellipsis
          line-height: 1rem
          color: $page-text-color
          overflow: hidden

          .self-title
            @extend .muted
            color: $muted-text-color !important

        img.avatar
          position: absolute
          width: $avatar-size
          height: $avatar-size
          border-radius: 30px
          object-fit: cover
          left: 0.5rem
          top: 0.5rem

  .btn.btn-flat
    width: 100%
    border-radius: 0
    background-color: rgba(black, 0.1)
    line-height: 35px
    height: auto
    padding: 5px 1rem

    &:hover
      background-color: rgba(black, 0.2)

  form, .chat-footer
    display: flex
    margin: 0
    background-color: rgba(black, 0.05)

    &.highlight
      background-color: rgba($brand-darker, 0.8)
      color: white

    input, button, span, a.btn
      display: block
      flex: 1 1 auto
      margin: 0 !important
      height: auto !important
      line-height: 35px
      padding: 5px 1rem
      border: none !important
      outline: none !important

    input[type="text"]
      padding: 0 0.5rem !important

    input, span
      background-color: rgba(0,0,0,0.1)

    button, a.btn
      padding: 5px 0.25rem
      border-radius: 0
      width: 45px
      transition: background-color 0.3s ease
      color: white
      background-color: rgba(0,0,0,0.2)
      flex: 0 0 45px
      line-height: 35px

      &:not(:disabled):hover
        background-color: rgba(0,0,0,0.3)

      &:disabled
        opacity: 0.7
        cursor: not-allowed

      &[type=submit]
        background-color: $brand-darker

        &:not(:disabled):hover
          background-color: $brand-primary

      &, & > i
        vertical-align: middle
        line-height: 35px
