.chat-bubble
  position: relative
  margin-left: 5px
  padding: 10px
  border-radius: 10px
  background-color: rgba(black, 0.2)
  border-top-left-radius: 0

  &:before
    content: ''
    position: absolute
    left: -10px
    top: 0
    border-top: 7px solid rgba(black, 0.2)
    border-right: 5px solid rgba(black, 0.2)
    border-bottom: 7px solid transparent
    border-left: 5px solid transparent

  @media #{$small-and-down}
    &.turn-up-for-what
      margin-left: 0
      margin-top: 5px

      &:before
        left: 0
        top: -10px
        border-left: 7px solid rgba(black, 0.2)
        border-bottom: 5px solid rgba(black, 0.2)
        border-right: 7px solid transparent
        border-top: 5px solid transparent
