.feedback-btn
  position: fixed
  bottom: 0
  left: 0
  opacity: 0.4
  transition: opacity 0.3s ease
  z-index: 9999
  padding: 0.5rem
  text-transform: lowercase
  font-size: 0.8rem
  height: auto
  line-height: 1rem
  background-color: rgba(black, 0.5)

  &:hover
    opacity: 1.0
    transition: opacity 0.3s ease
