body:not(.admin)
  input, textarea, select
    z-index: 1
    position: relative

    &:-webkit-autofill
      &, &:focus, &:hover, &:active
        box-shadow: 0 0 0 1000px $card-bg-color inset !important
        border-bottom-color: color('yellow', 'darken-1') !important
        -webkit-text-fill-color: $page-text-color !important

  .hint-text
    top: auto !important
    bottom: 0.3rem
    font-size: 0.8rem
    position: absolute

  label
    width: 100%
    bottom: 0
    z-index: 0

    &.active
      transform: translateY(0) !important
      top: -1rem !important
