input
  z-index: 1
  position: relative

  & + label:after
    top: auto !important
    bottom: 0
    font-size: 0.8rem

label
  width: 100%
  bottom: 0
  z-index: 0

  &.active
    transform: translateY(0) !important
    top: -1rem !important
