.image-gallery
  margin-bottom: -1.5rem

  .gallery-feature
    margin-bottom: 15px

    &:after
      content: ''
      display: block
      clear: both

    .feature-main
      display: inline-block
      float: left
      width: 100%

    .feature-side
      float: left
      margin-left: 15px

      .side-image
        margin-bottom: 15px

        &:last-child
          margin-bottom: 0

  .image-placeholder
    background-color: rgba(black, 0.2)
    padding-bottom: 100%
    border: 1px dashed rgba(white, 0.2)

  .container > &
    margin: 1.5rem 0

  .ui-draggable-dragging
    @extend .z-depth-3
    z-index: 3

  .ui-draggable
    cursor: move

  .ui-droppable-hover
    background-color: white

    img
      opacity: 0.6

  .gallery-image
    @extend .z-depth-1
    @extend .valign-wrapper
    background-color: black
    position: relative
    display: block
    text-align: center

    img
      @extend .valign
      position: relative
      display: block
      margin: 0 auto
      max-width: 100%

  .justified-gallery
    position: relative
    margin: -15px

    a.gallery-image
      display: inline-block
      position: absolute
      overflow: hidden

      img
        position: relative
        top: 50%
        left: 50%
