.image-gallery
  margin-bottom: -1.5rem

  .gallery-feature
    margin-bottom: 15px
    margin-right: -5px
    white-space: nowrap

    .feature-left
      display: inline-block
      vertical-align: top

    .feature-main
      display: inline-block
      vertical-align: top
      width: 100%

    .feature-side
      display: inline-block
      vertical-align: top
      margin-left: 15px

      .side-image
        margin-bottom: 15px

        &:last-child
          margin-bottom: 0

  .image-placeholder
    @extend .z-depth-0
    background-color: rgba(black, 0.2)
    padding-bottom: 100%
    border: 1px dashed rgba(white, 0.2)
    width: 100%

  .container > &
    margin: 1.5rem 0

  .ui-draggable-dragging
    @extend .z-depth-3
    z-index: 3

  .ui-draggable
    cursor: move

  .ui-droppable-hover
    background-color: white

    img
      opacity: 0.6

  .gallery-image
    @extend .z-depth-1
    @extend .valign-wrapper
    background-color: black
    position: relative
    display: block
    text-align: center
    height: 100%
    width: 100%
    overflow: hidden

    img
      @extend .valign
      position: relative
      display: block
      margin: 0 !important
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      max-width: 101%
      max-height: 101%
      width: auto !important
      height: auto !important

  .justified-gallery
    position: relative
    margin: -15px

    a.gallery-image
      display: inline-block
      position: absolute

      img
        position: relative
        top: 50%
        left: 50%
