.image-gallery
  margin-bottom: -1.5rem

  a
    transition: none

  .favorite-button
    position: absolute
    z-index: 1
    top: 0
    right: 0
    padding: 0.5rem 0.5rem 1rem 1rem
    color: rgba(white, 0.4)
    text-shadow: 0 0 2px rgba(black, 0.5)
    opacity: 0.0
    transition: opacity, color, 0.3s

    .gallery-image:hover &
      opacity: 1.0

    &:hover
      cursor: pointer
      color: white

  .gallery-feature
    margin-bottom: 15px
    margin-right: -5px
    white-space: nowrap

    .gallery-image
      opacity: 0.0
      visibility: hidden
      transition: opacity, 0.3s

      &.gf-entry
        visibility: visible
        opacity: 1.0

    .feature-left
      display: inline-block
      vertical-align: top

    .feature-main
      display: inline-block
      vertical-align: top
      width: 100%

    .feature-side
      display: inline-block
      vertical-align: top
      margin-left: 15px

      .side-image
        margin-bottom: 15px

        &:last-child
          margin-bottom: 0

  .image-placeholder
    @extend .z-depth-0
    background-color: rgba(black, 0.2) !important
    padding-bottom: 100%
    border: 1px dashed rgba(white, 0.2)
    width: 100%

  .ui-draggable-dragging
    @extend .z-depth-3
    z-index: 3

  .ui-draggable
    cursor: move

  .ui-droppable-hover
    background-color: white

    img
      opacity: 0.6

  .gallery-image
    @extend .valign-wrapper
    @extend .z-depth-1
    background-color: black
    position: relative
    display: block
    text-align: center
    height: 100%
    width: 100%
    overflow: hidden

    img
      @extend .valign
      position: relative
      display: block
      margin: 0 !important
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      max-width: 100%
      width: auto !important
      height: auto !important

  .justified-gallery
    position: relative
    margin: -15px

    a.gallery-image
      display: inline-block
      position: absolute
      visibility: hidden
      opacity: 0.0
      transition: opacity, 0.3s

      &.jg-entry
        visibility: visible
        opacity: 1.0

      img
        position: relative
        top: 50%
        left: 50%
