.jumbotron
  background-attachment: fixed
  background-position: center
  background-size: cover
  background-image: url('https://assets.refsheet.net/assets/unsplash/typewriter.jpg')
  color: white

  &.short
    .container
      padding: 1.5rem 0
      //width: 100%
      min-height: 9rem

      h1
        line-height: 3rem
        font-size: 2.5rem

      p
        margin-top: 1.5rem
        line-height: 1.5rem
        font-size: 1.2rem
        font-weight: 300
        margin-bottom: 0

  .jumbotron-background
    background-color: rgba(0, 0, 0, 0.5)

  .jumbotron-action
    margin-top: 4rem

  .container
    padding: 7rem 0

  p
    margin-top: 2rem

  h1
    margin: 0
    line-height: 3.5rem
    color: white

section
  &.padded
    padding: 6rem 0

  &.padded-bottom
    padding: 0 0 6rem 0

  .row:last-child
    margin-bottom: 0

  &.static-content
    padding: 1.5rem 0

  h1
    color: $secondary-color

  h2
    color: $primary-color

  &.pop-out
    @extend .z-depth-2
    background-color: $card-bg-color
    padding: 3rem 0

    &.section-light
      background-color: $page-bg-color

    h2, .caption
      color: color('blue-grey', 'lighten-4')
