.lightbox-modal.modal
  height: auto
  margin: 0 auto
  width: 95vw
  min-width: 600px
  max-height: initial
  top: 66px !important

  .modal-body
    max-height: initial

.lightbox
  display: flex
  height: 100%
  min-height: 50vh
  max-height: 80vh

  .image-content
    @extend .valign-wrapper
    flex-grow: 1
    background-color: black
    text-align: center
    position: relative
    overflow: hidden

    img
      max-width: 100%
      max-height: 80vh
      margin: 0 auto
      object-fit: scale-down

    .close
      position: absolute
      top: 0
      left: 0
      color: white
      background-color: rgba(0, 0, 0, 0.6)
      padding: 5px 6px 0 6px
      z-index: 1

  .image-actions
    position: absolute
    top: 1rem
    right: 1rem

    a
      color: $page-text-color

    & > div.image-action-menu
      display: inline-block
      margin-left: 0.5rem

    .dropdown-content
      width: 200px !important

      & > li
        min-height: initial

  .image-details-container
    display: flex
    flex-direction: column
    position: relative
    flex-basis: 300px

    .image-details
      width: 100%
      min-width: 300px
      padding: 1rem
      background-color: rgba(white, 0.05)
      margin-top: 1px

      .image-caption
        margin-top: 1rem

      .source-url
        margin-top: 1rem

        i
          color: rgba(white, 0.4)
          line-height: 2rem

        a
          @extend .truncate
          line-height: 2rem

    .tabs-container
      flex-grow: 1
      overflow: auto
      display: flex
      flex-direction: column

      .tabs
        background-color: rgba(white, 0.05)

      .tab-content
        padding: 1rem
        flex-grow: 1
        overflow-y: auto

      .no-comment
        padding: 10px
        text-align: center
        font-style: italic
        color: $muted-text-color

    h1
      @extend .thin
      font-size: 1.5rem
      width: 300px

  .loader
    width: auto
    margin: 3rem auto
    text-align: center

@media #{$small-and-down}
  .lightbox-modal.modal
    min-width: initial
    width: 100%
    left: 0
    top: 0 !important
    min-height: 100vh
    overflow: auto
    position: fixed

  .lightbox
    flex-direction: column
    width: 100%
    height: auto
    min-width: 0
    margin: 0
    max-height: initial

    .image-details
      width: auto

    .image-details-container
      flex-basis: initial

  .image-content
    flex-grow: 0
    flex-direction: column

  .comments
    overflow: visible !important
