.lightbox-modal
  height: auto
  margin: 0 auto
  width: 95vw
  min-width: 600px

.lightbox
  display: flex
  height: 100%
  min-height: 50vh
  max-height: 80vh

  .image-content
    @extend .valign-wrapper
    flex-grow: 1
    background-color: black
    text-align: center
    position: relative
    overflow: hidden

    img
      @extend .valign
      max-width: 100%
      max-height: 90vh
      margin: 0 auto
      object-fit: scale-down

    .close
      position: absolute
      top: 0
      left: 0
      color: white
      background-color: rgba(0, 0, 0, 0.3)
      padding: 2px 3px 0 3px
      z-index: 1

    &:hover
      .image-actions
        transition: opacity 0.4s ease
        opacity: 1.0

    .image-actions
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      background-color: rgba(0, 0, 0, 0.6)
      color: white
      text-align: left
      z-index: 2
      line-height: 32px
      opacity: 0.0
      font-size: 0.9rem
      transition: opacity 0.4s ease

      a
        display: inline-block
        padding: 5px 10px
        color: white

      p
        margin: 0
        padding: 5px 10px

  .image-details-container
    border-left: 1px solid black
    display: flex
    flex-direction: column

    .image-details
      width: 300px
      padding: 15px

      .image-caption
        margin-top: 1rem

    .comments
      flex-grow: 1
      background-color: $card-bg-color
      overflow: auto

      .no-comment
        padding: 10px
        text-align: center
        font-style: italic
        color: rgba(255, 255, 255, 0.5)

    h1
      @extend .thin
      font-size: 1.5rem
      width: 300px

  .loader
    @extend .valign
    margin: 0 auto

@media #{$medium-and-down}
  .lightbox
    min-height: 0
    height: 75vh
    width: 95vw
    max-height: 100%
    max-width: 100%

@media #{$small-and-down}
  .lightbox
    flex-direction: column
    width: 100%
    height: auto
    min-width: 0
    margin: 0

  .image-details
    width: auto

  .image-content
    flex-grow: 0
    flex-direction: column

    .image-actions
      position: static
      opacity: 1.0
      background-color: $card-bg-color

      a
        color: rgba(255, 255, 255, 0.6)

  .comments
    overflow: visible !important
