.modal
  $stripe-color: rgba(white, 0.05)
  $mobile-side-sheet-split: 90vw
  $side-sheet-width: 300px

  max-height: 80vh

  &.side-sheet
    position: fixed
    left: 0
    bottom: 0
    top: 0 !important
    right: auto
    min-height: initial !important
    max-height: initial !important
    width: $side-sheet-width

    .modal-body
      max-height: 100vh

    @extend .z-depth-3

    @media #{$small-and-down}
      width: $mobile-side-sheet-split !important

      .modal-body
        width: $mobile-side-sheet-split !important

    @at-root
      .user-bar.navbar-fixed nav
        width: auto
        right: 0
        left: 0
        transition: left 0.3s ease

      body.side-sheet-open
        margin-left: $side-sheet-width
        overflow-y: auto !important
        transition: margin-left 0.3s ease

        @media #{$small-and-down}
          overflow-x: auto !important
          width: $mobile-side-sheet-split
          margin-left: $mobile-side-sheet-split

          .user-bar.navbar-fixed nav
            left: $mobile-side-sheet-split !important
            width: $mobile-side-sheet-split !important

        .user-bar.navbar-fixed nav
          left: $side-sheet-width

        &.side-sheet-closing
          margin-left: 0

          .user-bar.navbar-fixed nav
            left: 0

        .modal-overlay
          opacity: 0.0 !important
          cursor: not-allowed

  .modal-notice
    padding: 0 1rem
    background-color: rgba(white, 0.03)
    line-height: 2.5rem
    vertical-align: middle
    height: 2.5rem

    i.material-icons
      height: 2.5rem
      line-height: 2.5rem
      vertical-align: middle

    a.btn-flat
      border-radius: 0
      margin: 0 1rem
      padding: 0 1rem
      line-height: 2.5rem
      vertical-align: middle
      height: 2.5rem
      color: $page-text-color

      i.material-icons.left
        margin-right: 1rem

      &.right
        margin: 0 -1rem 0 1rem

    &.alert
      color: white
      background-color: color('red', 'darken-2')

      a.btn-flat
        color: white

  &:focus
    outline: none

  &.narrow
    width: 55%
    max-width: 400px

  .collection
    border-radius: 0
    border: none
    padding: 0.5rem 0

    .collection-item
      background-color: transparent
      border: none
      padding: 0.5rem 1.5rem

      &.avatar
        min-height: calc(42px + 1rem)
        padding-left: calc(42px + 2.5rem)

        img.circle
          left: 1.5rem

  .divider
    margin: 1.5rem -1.5rem
    background-color: rgba(white, 0.1)
    height: 1px
    width: auto

  .modal-inline-form
    display: flex
    background-color: rgba(black, 0.1)

    input
      flex-grow: 1
      padding: 0 1rem
      margin-bottom: 0
      border: none !important
      outline: none !important
      box-shadow: none !important

    button
      flex-shrink: 0
      border-radius: 0
      box-shadow: none
      height: 3rem
      padding: 0 1rem

      i.material-icons
        height: 3rem
        line-height: 3rem
        vertical-align: middle

  .modal-body
    display: flex
    flex-direction: column
    max-height: 80vh

  .modal-header
    background-color: $stripe-color
    height: 56px
    line-height: 56px
    padding: 0
    z-index: 1
    flex-shrink: 0

    h2
      @extend .truncate
      color: rgba(white, 0.9) !important
      line-height: 56px
      margin: 0
      padding: 0 1.5rem
      font-weight: 300
      font-size: 1.6rem

    .modal-close
      color: rgba(255, 255, 255, 0.5) !important
      position: absolute
      right: 0.5rem
      top: 0
      height: 1.5rem
      line-height: 1.5rem
      padding: 0 1rem
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px
      background-color: rgba(color('red', 'base'), 0.3)

      &:hover
        color: white
        background-color: rgba(color('red', 'base'), 0.6)

      i.material-icons
        font-size: 1rem
        line-height: 1.5rem

  .row.actions
    margin: 1.5rem -1.5rem -1.5rem -1.5rem
    padding: 1rem 0.75rem
    background-color: $stripe-color
    overflow: auto

    .col
      margin-bottom: 0

  .modal-content
    overflow: auto
    flex-grow: 1
    padding: 1.5rem

  .modal-stretch
    overflow: auto
    flex-grow: 1

  .modal-footer
    padding: 4px 10px
    flex-shrink: 0
    background-color: $stripe-color

  @media #{$small-and-down}
    width: 100% !important
    max-width: initial !important
    top: 0 !important
    max-height: 100vh

    .modal-body
      max-height: initial
      width: 100vw
      overflow: auto
      height: 100vh

    .modal-header-wrap
      height: 56px
      flex-basis: 56px
      flex-shrink: 0

    .modal-header
      text-align: left
      position: fixed
      top: 0
      width: 100%

      h2
        padding: 0 66px
        font-size: 1.3rem

      .modal-close
        height: 56px
        left: 0
        right: auto
        width: 56px
        padding: 0
        text-align: center
        border-radius: 0
        background-color: transparent

        i.material-icons
          font-size: 2rem
          line-height: 56px
