.page-header
  margin-bottom: 1.5rem

  &:first-child
    margin-top: -64px

  .page-header-backdrop
    background-color: black
    min-height: 500px
    background:
      position: top center
      attachment: fixed
      size: cover

  .page-header-content
    margin-top: -200px

  @media #{$small-and-down}
    .page-header-backdrop
      height: 364px

    .page-header-content
      margin-top: -400px
