.page-header
  @extend .margin-bottom--large
  margin-top: -64px

  .page-header-backdrop
    height: 464px
    background-position: center
    background-size: cover

  .page-header-content
    margin-top: -200px
