.page-header
  margin-bottom: 1.5rem

  .page-header-backdrop
    background-color: black
    height: 480px
    position: relative
    will-change: background-position
    background:
      attachment: scroll
      position: 50% 0
      size: cover

  .page-header-content
    margin-top: -200px

    .button-group
      position: relative
      margin-right: 40px
      float: right

      .btn-floating
        position: absolute
        top: -55px

  @media #{$small-and-down}
    .page-header-backdrop
      height: 360px

    .page-header-content
      margin-top: -300px