.rich-text
  position: relative

  a.edit-button
    cursor: pointer
    display: block
    position: absolute
    top: 0
    right: 0
    transition: opacity 0.3s
    padding: 0

    i.material-icons
      font-size: 1rem

  textarea
    padding: 0
    margin-bottom: 0.5rem

  &:hover
    a.edit-button
      opacity: 1.0
      transition: opacity 0.3s

  &.empty
    color: $muted-text-color

  p:first-child
    margin-top: 0

  p:last-child
    margin-bottom: 0

  h1
    font-size: 2rem
    color: white

    &:first-child
      margin-top: 0

  h2
    font-size: 1.5rem
    font-weight: 300
    color: white
