.rich-text
  position: relative
  min-height: 1rem

  a.edit-button
    cursor: pointer
    display: block
    position: absolute
    top: 0
    right: 0
    transition: opacity 0.3s
    padding: 0
    z-index: 9

    i.material-icons
      font-size: 1rem

  textarea
    padding: 0
    margin-bottom: 0.5rem

  &:hover
    a.edit-button
      opacity: 1.0
      transition: opacity 0.3s

  &.empty
    color: $muted-text-color

  p
    margin-bottom: 1rem !important

  p:first-child
    margin-top: 0 !important

  p:last-child
    margin-bottom: 0 !important

  h1
    font-size: 2rem
    color: white

    &:first-child
      margin-top: 0

  h2
    font-size: 1.5rem
    font-weight: 300
    color: white

  h3
    font-size: 1.3rem
    color: $brand-dark

  h4
    font-size: 1.1rem

  h5
    font-size: 1rem
    font-weight: bold

  ul
    li
      position: relative
      padding-left: 1.5rem

      &:before
        content: ''
        width: 0.5rem
        height: 0.5rem
        background-color: $brand-primary
        border-radius: 0.25rem
        display: block
        position: absolute
        left: 0
        top: 0.5rem

  table
    border: 1px solid rgba(white, 0.1)

    thead
      background-color: $brand-dark
      color: white

    td
      border: 1px solid rgba(white, 0.1)
