.row
  margin-bottom: 0

  @at-root
    ul.row
      margin-top: 0

    .card.sp .row:not(.no-margin) > .col
      margin-bottom: 1rem

  &.form-fix
    &:last-child
      .col
        margin-bottom: 0 !important

    .input-field.col
      margin: 0 !important

    .col > .switch
      padding: calc(1.5rem - 7px) 0
      .lever
        margin: 0

    input
      margin-bottom: 0

  &.hidden
    display: none

  &.tiny-gutter
    margin: -0.25rem

    & > .col
      padding: 0.25rem
      margin: 0 !important

  &.no-gutter
    margin-left: 0
    margin-right: 0

    & > .col
      padding: 0

  &:not(.no-margin) > .col
    margin-bottom: 1rem

  .col
    &.input-height
      line-height: 1rem
      padding-top: 1rem
      padding-bottom: 0.5rem
      vertical-align: middle

    &.xl3
      @media #{$extra-large-and-up}
        width: 25%
