body:not(.admin) .search
  &.active
    background-color: $lighten-color

    .input-field input[type=search]
      width: 200px

  .input-field
    margin: 0
    width: auto

    label.active
      transform: none !important

    input[type=search]
      margin: 0
      color: $page-text-color
      background-color: transparent
      border-bottom: none !important
      box-shadow: none !important
      width: 0
      padding-left: 54px
      height: 56px
      vertical-align: middle

      & + label
        width: auto
        z-index: 1
        cursor: pointer
        padding: 0 15px
        left: 0
        transform: none

        & i
          color: darken($page-text-color, 10%) !important

.search-results
  padding: 1rem 0
  font-size: 0.9rem
  color: color('grey', 'darken-1')
