ul
  &.message-list
    li
      padding: 0.75rem 1rem 0.75rem 0.75rem
      transition: background-color, 0.3s
      border-left: 0.25rem solid transparent

      &.unread
        border-left-color: $secondary-color

        a
          font-weight: bold

      &.active
        background-color: $page-bg-color
        border-left-color: $primary-color

        a
          color: $primary-color

      &:last-child
        border-bottom: none

      &:hover
        background-color: $lighten-color
        cursor: pointer
