img.user-color
  &.patron
    box-shadow: 0 0 3px 1px $patron-color !important

  &.admin
    box-shadow: 0 0 3px 1px $admin-color !important

  &.moderator
    box-shadow: 0 0 3px 1px $moderator-color !important

  &.supporter
    box-shadow: 0 0 3px 1px $supporter-color !important


.user-color
  &.patron
    color: $patron-color !important

  &.admin
    color: $admin-color !important

  &.moderator
    color: $moderator-color !important

  &.supporter
    color: $supporter-color !important

.user-background
  &.patron
    background-color: $patron-bg-color !important

  &.admin
    background-color: $admin-bg-color !important

  &.moderator
    background-color: $moderator-bg-color !important

  &.supporter
    background-color: $supporter-bg-color !important

.user-background-light
  &.patron
    background-color: rgba($patron-color, 0.5)

  &.admin
    background-color: rgba($admin-color, 0.5)

  &.moderator
    background-color: rgba($moderator-color, 0.5)

  &.supporter
    background-color: rgba($supporter-color, 0.5)
