%h1 Invitation to Join Refsheet.net

%p Hey there!

%p
  Refsheet.net is a... well, it's a place. To store characters.

%p
  Okay, fun fact, this email shouldn't be sent. If you got this email, tell @refsheet on twitter.

= button 'Sign Up', register_url(email: @invitation.email, auth: @auth_code), primary: true
