%h1 Password Reset

%p
  A password reset request has been requested for @#{@user.username} on Refsheet.net. If this was you, enter the
  code below:

%center
  %h2= @auth_code

%hr/

%p
  If you closed the form, you can use the link below to sign in to your account, but once you're there, please
  change your password!

= button 'Sign In', recover_url(email: @user.email, auth: @auth_code), primary: true
