%h1 Patron Get!

%p #{@user.name}, thank you for supporting us!

%p
  If you're getting this email, it means that your Refsheet.net account has been successfully
  linked up to your Patreon pledge. You should now have access to early release features, and
  any other goodies we decide to send along!
