@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/variables';
@import '../scss/_variables';
@import '~materialize-css/sass/materialize';

@import '../../assets/stylesheets/shared/*.sass';
@import '../../assets/stylesheets/components/**/*.sass';
@import '../scss/*.sass';
