files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_asset_compilation.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #==============================================================================
      # Copyright 2014 Amazon.com, Inc. or its affiliates. All Rights Reserved.
      #
      # Licensed under the Amazon Software License (the "License"). You may not use
      # this file except in compliance with the License. A copy of the License is
      # located at
      #
      #       https://aws.amazon.com/asl/
      #
      # or in the "license" file accompanying this file. This file is distributed on
      # an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, express or
      # implied. See the License for the specific language governing permissions
      # and limitations under the License.
      #==============================================================================

      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars

      RAKE_TASK="assets:precompile"

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      if su -s /bin/bash -c "bundle exec $EB_SCRIPT_DIR/check-for-rake-task.rb $RAKE_TASK" $EB_APP_USER; then
              ls -la "$EB_APP_STAGING_DIR/public/assets"
              if [ "$RAILS_SKIP_ASSET_COMPILATION" == "true" -o -x "$EB_APP_STAGING_DIR/public/assets" ]; then
                  echo "Skipping asset compilation (RAILS_SKIP_ASSET_COMPILATION=true)."
              else
                  su -s /bin/bash -c "bundle exec rake assets:precompile" $EB_APP_USER
              fi
      else
              echo "No $RAKE_TASK task in Rakefile, skipping asset compilation."
      fi
