option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: Timeout
    namespace: aws:elasticbeanstalk:command
    value: 1800

packages:
  yum:
    git: []

commands:
  update_bundler:
    command: /opt/rubies/ruby-cqurrent/bin/gem install bundler -v '1.16.0'
