option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: Timeout
    namespace: aws:elasticbeanstalk:command
    value: 1800

packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    libpng-devel: []

commands:
  update_bundler:
    command: /opt/rubies/ruby-current/bin/gem install bundler -v '2.0.1'
