# .ebextensions/cache.config
# https://gist.github.com/ssaunier/67b86f628154ede29f16b74608a97240
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02a_set_cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      BUCKET="elasticbeanstalk-us-east-1-329729347973"

      mkdir -p /tmp/cache

      if aws s3 ls s3://${BUCKET}/cache/gem.tar.gz ; then
        aws s3 cp --quiet s3://${BUCKET}/refsheet-cache/gem.tar.gz /tmp/cache/gem.tar.gz
      fi

      if aws s3 ls s3://${BUCKET}/cache/node_modules.tar.gz ; then
        aws s3 cp --quiet s3://${BUCKET}/refsheet-cache/node_modules.tar.gz /tmp/cache/node_modules.tar.gz
      fi

      if aws s3 ls s3://${BUCKET}/cache/assets.tar.gz ; then
        aws s3 cp --quiet s3://${BUCKET}/refsheet-cache/assets.tar.gz /tmp/cache/assets.tar.gz
      fi

      [ -f /tmp/cache/gem.tar.gz ]          && tar -xf /tmp/cache/gem.tar.gz          -C $EB_APP_STAGING_DIR && chown webapp:webapp -R "$EB_APP_STAGING_DIR/vendor/bundle"
      [ -f /tmp/cache/node_modules.tar.gz ] && tar -xf /tmp/cache/node_modules.tar.gz -C $EB_APP_STAGING_DIR && chown webapp:webapp -R "$EB_APP_STAGING_DIR/node_modules"
      [ -f /tmp/cache/assets.tar.gz ]       && tar -xf /tmp/cache/assets.tar.gz       -C $EB_APP_STAGING_DIR && chown webapp:webapp -R "$EB_APP_STAGING_DIR/tmp"

      mkdir -p vendor/bundle
      mkdir -p node_modules
      mkdir -p tmp/cache/assets
      mkdir -p log

      chown -R webapp:webapp tmp log node_modules vendor

      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/12a_build_cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR

      mkdir -p /tmp/cache
      mkdir -p vendor/bundle
      mkdir -p node_modules
      mkdir -p tmp/cache/assets

      tar -zcf /tmp/cache/gem.tar.gz          vendor/bundle
      tar -zcf /tmp/cache/node_modules.tar.gz node_modules
      tar -zcf /tmp/cache/assets.tar.gz       tmp/cache/assets

      BUCKET="elasticbeanstalk-us-east-1-329729347973"

      aws s3 cp /tmp/cache/gem.tar.gz          s3://${BUCKET}/refsheet-cache/gem.tar.gz
      aws s3 cp /tmp/cache/node_modules.tar.gz s3://${BUCKET}/refsheet-cache/node_modules.tar.gz
      aws s3 cp /tmp/cache/assets.tar.gz       s3://${BUCKET}/refsheet-cache/assets.tar.gz

      exit 0
