container_commands:
  01_configure_google_cloud:
    command: "/tmp/configure_google_cloud.sh"

files:
  "/etc/yum.repos.d/google-cloud-sdk.repo":
    mode: "000755"
    owner: root
    group: root
    content: |
      [google-cloud-sdk]
      name=Google Cloud SDK
      baseurl=https://packages.cloud.google.com/yum/repos/cloud-sdk-el7-x86_64
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg
             https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

  "/root/kube.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      if kill -0 "$(cat /root/kube.pid)"; then
        echo "Kube bridge running."
        exit 0
      fi

      export CLOUDSDK_PYTHON=$(which python27)
      export HOME=/root
      export KUBECONFIG=/root/gcloud-install/config

      gcloud auth activate-service-account --key-file /root/gcloud-install/refsheet-prod.json
      gcloud config set project refsheet-239409
      gcloud config set compute/zone us-central1-a

      pod_id=$(kubectl get pod --selector="app=redis-prod" --output jsonpath='{.items[0].metadata.name}')
      gcloud container clusters get-credentials refsheet-prod --zone us-central1-a --project refsheet-239409

      nohup kubectl port-forward "$pod_id" 6345:6379  > /var/log/kube-forward.out 2> /var/log/kube-forward.err < /dev/null &
      echo "$!" > /root/kube.pid

      echo "Kubectl running, PID: $(cat /root/kube.pid)"

  "/tmp/configure_google_cloud.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash

        export CLOUDSDK_PYTHON=$(which python27)
        export HOME=/root

        echo "*****************************************************************"
        pwd
        cp ./refsheet-prod.json /root/gcloud-install/refsheet-prod.json

        mkdir -p ~/gcloud-install
        pushd ~/gcloud-install
        yumdownloader -y google-cloud-sdk
        sudo rpm -ivh --nodeps *.rpm

        export KUBECONFIG=$(pwd)/config
        popd

        gcloud auth activate-service-account --key-file /root/gcloud-install/refsheet-prod.json
        gcloud config set project refsheet-239409
        gcloud config set compute/zone us-central1-a

        # Install Kubectl
        sudo yum -y install kubectl

        chkconfig --add kube

        # Open GKE tunnel for Redis
        /root/kube.sh

        # Do this again, for whatever reason.
        sleep 1
        service kube start

        echo "Installed Kube bridge."

  "/etc/init.d/kube":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        #
        # kube          Kubernetes bridge for Redis
        #
        # chkconfig:    345 70 30
        # description:  Kubernetes bridge for Redis
        # processname:  kube.sh

        # Source function library.
        . /etc/init.d/functions

        RETVAL=0

        start() {
            /root/kube.sh
            RETVAL=$?
        }

        stop() {
            echo "Just don't."
            RETVAL=1
        }

        status() {
            if [ -f "/root/kube.pid" ] && kill -0 $(cat /root/kube.pid); then
                echo "RUNNING"
            else
                echo "DEAD"
                RETVAL=1
            fi
        }

        case "$1" in
            start)
                start
                ;;
            stop)
                stop
                ;;
            status)
                status
                ;;
            restart)
                stop
                start
                ;;
            *)
                echo "Usage: kube {start|stop|status|restart}"
                exit 1
                ;;
        esac
        exit $RETVAL