container_commands:
  01_configure_google_cloud:
    command: "/tmp/configure_google_cloud.sh"

files:
  "/etc/yum.repos.d/google-cloud-sdk.repo":
    mode: "000755"
    owner: root
    group: root
    content: |
      [google-cloud-sdk]
      name=Google Cloud SDK
      baseurl=https://packages.cloud.google.com/yum/repos/cloud-sdk-el7-x86_64
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg
             https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

  "/tmp/configure_google_cloud.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash

        export CLOUDSDK_PYTHON=$(which python27)

        mkdir -p ~/gcloud-install
        pushd ~/gcloud-install
        yumdownloader -y google-cloud-sdk
        sudo rpm -ivh --nodeps *.rpm
        popd

        gcloud auth activate-service-account --key-file ./refsheet-prod.json
        gcloud config set project refsheet-239409
        gcloud config set compute/zone us-central1-a

        # Install Kubectl
        sudo yum -y install kubectl

        # Open GKE tunnel for Redis
        gcloud container clusters get-credentials refsheet-prod --zone us-central1-a --project refsheet-239409 \
         && (nohup kubectl port-forward $(kubectl get pod --selector="app=redis-prod" --output jsonpath='{.items[0].metadata.name}') 6345:6379 &)