container_commands:
  01_configure_google_cloud:
    command: "/tmp/configure_google_cloud.sh"

files:
  "/tmp/configure_google_cloud.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash

        sudo rm -f /usr/bin/python2
        sudo ln -s /usr/bin/python2.7 /usr/bin/python2

        mkdir ~/gcloud-install
        pushd ~/gcloud-install
        yumdownloader google-cloud-sdk
        sudo rpm -ivh --nodeps *.rpm

        popd
        gcloud auth activate-service-account ./refsheet-prod.json