files:
    "/etc/awslogs/awslogs.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            [general]
            state_file = /var/lib/awslogs/agent-state

            [logger_rails]
            log_group_name = Rails
            log_stream_name = {instance_id}
            datetime_format = %Y-%m-%dT%H:%M:%S.%f
            file = /var/app/current/log/production.log*

container_commands:
  01restart_awslogs:
    command: service awslogs restart