files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_node.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            if [[ "$USER" == "root" ]]; then
                    mkdir /home/webapp
                    chown webapp:webapp /home/webapp
                    su -s /bin/bash -c "bash $0" webapp
                    exit $?
            else
                    export HOME="/home/webapp"
                    export NVM_DIR="$HOME/.nvm"
                    cd $HOME

                    touch ~/.bashrc
                    curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash

                    # Source nvm
                    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
                    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

                    # Install node
                    nvm install 8.6.0
                    nvm alias default 8.6.0
            fi
