files:
  "/etc/nginx/conf.d/cors.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' 'GET, HEAD, OPTIONS';

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/13_test_for_puma.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      echo "Manually enabling puma!"
      echo true > /etc/elasticbeanstalk/has_puma.txt
      exit 0

container_commands:
  01restart_nginx:
    command: "service nginx restart"
