files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/13_test_for_puma.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash

      if [[ -f /opt/elasticbeanstalk/support/conf/passenger ]]; then
          echo "Manually enabling puma!"
          echo true > /etc/elasticbeanstalk/has_puma.txt
      fi

      exit 0

container_commands:
  01restart_nginx:
    command: "if [[ ! -f /opt/elasticbeanstalk/support/conf/passenger ]]; then service nginx restart; else echo 'Skip restart.'; fi"
