files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/13_test_for_puma.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      echo "Manually enabling puma!"
      echo true > /etc/elasticbeanstalk/has_puma.txt
      exit 0

container_commands:
  01restart_nginx:
    command: "service nginx restart"
