.navbar-fixed
  %nav
    %a.button-collapse{href: '#', 'data-activates': 'slide-out'}
      %i.material-icons menu

    %a.button-collapse.show-on-large
      -#%i.material-icons search

    .nav-wrappper
      %ul#nav-mobile.right
        -#%li
        -#  %a{href: '#'} Your Store
        -#%li
        -#  %a{href: '#'} Sign Out
