.navbar-fixed
  %nav
    %a.button-collapse{href: '#', 'data-activates': 'slide-out'}
      %i.material-icons menu

    .breadcrumbs
      = render_breadcrumbs

    .nav-wrappper
      %ul#nav-mobile.right
        -#%li
        -#  %a{href: '#'} Your Store
        -#%li
        -#  %a{href: '#'} Sign Out
