.navbar-fixed
  %nav
    .nav-wrappper
      %a.button-collapse{href: '#', 'data-activates': 'slide-out'}
        %i.material-icons menu

      .left
        .page-title
          = @meta_tags[:title]

      .right
        - if @search
          = form_tag @search[:path], class: 'search', method: :get do
            .input-field
              = text_field_tag :q, params[:q], type: :search, id: 'search'
              = label_tag :q, material_icon(:search)
