- title 'Artist: ' + @artist.name
= action_button :edit, edit_admin_artist_path(@artist.slug), class: 'red', tooltip: 'Edit Artist'

.content
  .row
    .col.s12.m4.l3
      - if @artist.avatar.attached?
        = image_tag url_for(@artist.avatar), class: 'materialboxed responsive-img z-depth-1'
      %h1.caption= link_to title(@artist.name), artist_path(@artist.slug)

    .col.s12.m8.l9
      .card
        .card-content
          = debug @artist.attributes.to_h