- title "API Documentation"
- description "Refsheet.net REST API documentation (Version 1)"
%redoc{"spec-url": "/api-docs/v1/swagger.json", "hide-hostname": true, "required-props-first": true, "scroll-y-offset": 56, "suppress_warnings": Rails.env.production?}
%script{src: "https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"}