- title "API Documentation"
- description "Refsheet.net REST API documentation (Version 1)"

%div#redoc-root
%script{src: "https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"}

:sass
  #redoc-root
    .api-content
      div[id^=operation]
        &:after
          border-bottom-color: rgba(255,255,255,0.1)

        & > div:first-child > div:nth-child(2) > div:first-child > div:nth-child(2)
          // This targets the endpoint dropdown:
          background-color: rgb(33,33,33) !important
          border: 1px solid #4c4c4c !important

          & > div > div > div
            background-color: rgba(0,0,0,0.05) !important
            border-color: rgba(255,255,255,0.1) !important

    h2
      color: #E6E6E6 !important

    h5, h3
      color: #26a69a !important
      border-bottom-color: rgba(#26a69a, 0.2) !important

    h5 > span
      color: #c6c6c6 !important

    pre
      background-color: rgb(33,33,33) !important

      code
        color: inherit !important

    code
      color: #2CCBBD !important

    .redoc-markdown
      table
        td, th
          border: 1px solid #4c4c4c !important

    table
      background-color: transparent !important

      tr, td, th
        background-color: transparent !important
        border: none !important

        &[kind="field"]
          border-left: 1px solid rgb(198, 198, 198) !important

        &.expanded + tr > td > div
          background-color: rgba(0,0,0, 0.1) !important

      tr:first-child, tr:last-child, tr.last
        & > td[kind="field"]
          border-left: none !important

    .collapsible, .hoverable:hover
      border: none !important
      box-shadow: none !important

    .react-tabs__tab-list
      li
        border-radius: 0 !important
        border: none !important
        border-bottom: 2px solid transparent !important
        background-color: transparent !important

        &.react-tabs__tab--selected
          border-bottom-color: #26a69a !important

    .menu-content > div > div > a[target="_blank"]
      border-top-color: #4c4c4c !important
      opacity: 0.4

      &:hover
        opacity: 1.0

    .menu-content > div[role="search"]
      padding-top: 0 !important

      input
        background-color: rgba(255,255,255,0.05)
        padding: 0 1rem 0 2.5rem
        height: 3rem
        line-height: 3rem
        font-weight: inherit

        &::placeholder
          font: inherit !important
          color: rgba(255,255,255,0.4)

      svg
        position: absolute
        height: 3rem
        left: 1rem

:javascript
  function initRedoc() {
    Redoc.init("#{rswag_api_url + '/v1/swagger.json'}", {
      theme: #{@redoc_theme.to_json.html_safe},
      disableSearch: true,
      hideDownloadButton: true,
      hideHostname: true,
      noAutoAuth: true,
      requiredPropsFirst: true,
      scrollYOffset: 56,
      sortPropsAlphabetically: true,
      suppressWarnings: true
    }, document.getElementById('redoc-root'))
  }

  document.addEventListener("DOMContentLoaded", initRedoc);