$sizes: (xsmall: 3px, small: 7px, medium: 15px, large: 30px, xlarge: 60px, none: 0, rsmall: 0.5rem, rmedium: 0.75rem, rlarge: 1rem, rxlarge: 1.5rem)

@each $size, $value in $sizes
  .margin--#{$size}
    margin: $value !important

  .padding--#{$size}
    padding: $value !important

  .margin-last--#{$size}:last-child
    margin: $value !important

@each $size, $value in $sizes
  @each $side in top, left, bottom, right
    .margin-#{$side}--#{$size}
      margin-#{$side}: $value !important

    .margin-#{$side}-last--#{$size}:last-child
      margin-#{$side}: $value !important

    .padding-#{$side}--#{$size}
      padding-#{$side}: $value !important