.user-bar
  height: 56px

  .dropdown-content-native
    @extend .dropdown-content
    opacity: 1.0
    top: 2rem
    max-width: 400px
    min-width: 150px
    white-space: nowrap !important

  .dropdown-trigger-native
    @extend .dropdown-trigger

  .nsfw-on
    background-color: rgba(color('red', 'base'), 0.3)

    &:hover
      background-color: rgba(color('red', 'base'), 0.5) !important

  .container
    height: 56px

    @media #{$small-and-down}
      width: 100% !important
      padding: 0 !important

  #user-menu
    top: 56px !important
    right: 0 !important
    display: none

  nav
    background-color: $card-bg-color
    height: 56px

    ul
      display: inline-block

      @media #{$medium-and-up}
        &.site-nav
          display: inline-block !important
          opacity: 1 !important

      li
        position: relative

    form
      display: inline-block
      vertical-align: top
      height: 56px

    a
      line-height: 56px
      font-weight: 400
      text-transform: uppercase
      font-size: 0.9rem
      color: $lighten-text-color

      &.active, &.primary-text
        font-weight: 600

      &.avatar:hover,
      &.logo:hover
        background-color: transparent

      &:hover
        background-color: $lighten-color
        color: white
        transition: color 0.25s ease
        cursor: pointer


      &.active
        background-color: $lighten-color
        color: $secondary-color

      &.patreon
        padding: 0 15px
        height: 56px
        vertical-align: middle
        color: white

        img
          display: inline-block
          max-height: 22px
          margin: 17px 0 17px 0.5rem
          vertical-align: middle
      
      &.flex
        display: flex

        &.align-center
          align-items: center

        .no-grow
          flex-grow: 0
        
        .flex-grow-1
          flex-grow: 1


    .logo
      padding: 0 15px 0 0
      height: 56px
      vertical-align: middle
      text-transform: none

      img
        display: inline-block
        max-height: 32px
        margin: 12px 0.1rem 12px 0
        vertical-align: middle
        float: left

      .site-name
        display: inline-block
        line-height: 56px
        margin: 0
        font-size: 2rem
        color: $brand-primary
        font-weight: 300

        .logo-r
          display: none

        .dot-net
          padding-left: 1px
          font-size: 1.3rem
          color: $page-text-color


    .avatar
      height: 56px

      img
        max-height: 36px
        display: inline-block
        margin: 10px 0

    .dropdown-trigger.active
      color: white !important

    .dropdown-content
      z-index: 9999

  .navbar-shroud
    display: none

  @media #{$small-and-down}
    nav .container
      display: flex
      padding: 5px 0 !important

      & > .right
        flex-grow: 1
        display: flex
        margin: 0 5px

        form.search
          flex-grow: 1
          margin-right: 5px

          &.active
            background-color: transparent

          input
            background-color: $input-background
            width: 100%
            box-sizing: border-box
            border-radius: 2px
            border: 1px solid transparent
            border-bottom: 1px solid transparent !important
            transition: all 0.1s ease
            padding-left: 40px

            & + label
              padding: 0 10px
              width: 40px

              & > i.material-icons
                width: 20px
                height: 46px !important
                line-height: 46px !important

            &:focus
              width: 100%
              background-color: $input-background !important
              border-color: $brand-primary !important
              outline-color: $brand-primary

              & + label > i.material-icons
                color: $brand-primary !important

        & > ul.right
          flex-grow: 0
          flex-shrink: 0

    nav
      ul.menu
        margin-left: 5px

      .logo
        float: none !important
        padding: 0

        img
          margin: 7px

      .logo, & > a, form, input, .input-field, label
        height: 46px !important
        line-height: 46px !important

      & > .container > ul > li > a, & > .container > div.right > ul > li > a
        height: 46px !important
        line-height: 46px !important

        i.material-icons
          font-size: 1.5rem
          width: 46px
          text-align: center
          height: 46px !important
          line-height: 46px !important

        padding: 0
        width: 46px

      .avatar
        padding: 0

        img
          height: 36px
          width: 36px
          margin: 5px

    .dropdown-menu
      left: 15px
      right: 15px
      position: fixed
      top: 66px
      background-color: $card-bg-color
      box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.5)

      &:before
        display: none

    .dropdown-trigger-native.active
      position: relative
      z-index: 10010

    .site-nav
      display: none
      position: fixed
      top: 56px
      left: 0
      width: 100%
      background-color: darken($card-bg-color, 2%)
      z-index: 10

      &.visible
        display: block !important

      li
        display: block
        float: none

        a
          padding: 0 15px !important
          display: block
          line-height: 46px
          width: 100% !important

    .navbar-shroud
      position: fixed
      top: 56px
      bottom: 0
      left: 0
      width: 100%
      background-color: rgba(black, 0.6)

    .dropdown-content
      position: fixed !important

    &.menuOpen
      .navbar-shroud, .site-nav
        display: block !important