.user-bar
  height: 56px

  .nsfw-on
    background-color: rgba(color('red', 'base'), 0.3)

    &:hover
      background-color: rgba(color('red', 'base'), 0.5)

  .container
    height: 56px

    @media #{$small-and-down}
      width: 100%

  #user-menu
    top: 56px !important
    right: 0 !important
    display: none

  nav
    background-color: $card-bg-color
    height: 56px

    ul
      display: inline-block

      li
        position: relative

    form
      display: inline-block
      vertical-align: top
      height: 56px

    a
      line-height: 56px
      font-weight: 300
      text-transform: uppercase
      font-size: 0.9rem
      color: $lighten-text-color

      &.avatar:hover,
      &.logo:hover
        background-color: transparent

      &:hover
        background-color: $lighten-color
        color: white
        transition: color 0.25s ease
        cursor: pointer


      &.active
        background-color: $lighten-color
        @extend .z-depth-1
        color: $secondary-color

      &.patreon
        padding: 0 15px
        height: 56px
        vertical-align: middle
        color: white

        img
          display: inline-block
          max-height: 22px
          margin: 17px 0 17px 0.5rem
          vertical-align: middle

    .logo
      padding: 0 15px 0 0
      height: 56px
      vertical-align: middle
      text-transform: none

      img
        display: inline-block
        max-height: 32px
        margin: 12px 0.1rem 12px 0
        vertical-align: middle
        float: left

      .site-name
        display: inline-block
        line-height: 56px
        margin: 0
        font-size: 2rem
        color: $brand-primary
        font-weight: 300

        .logo-r
          display: none

        .dot-net
          padding-left: 1px
          font-size: 1.3rem
          color: $page-text-color


    .avatar
      height: 56px

      img
        max-height: 36px
        display: inline-block
        margin: 10px 0

  .navbar-shroud
    display: none

  @media #{$small-and-down}
    .logo
      float: none !important
      position: absolute
      left: 50%
      transform: translateX(-50%)

    .site-nav
      display: none
      position: fixed
      top: 56px
      left: 0
      width: 100%
      background-color: $card-bg-color
      z-index: 10

      li
        display: block
        float: none

    .navbar-shroud
      position: fixed
      top: 56px
      bottom: 0
      left: 0
      width: 100%
      background-color: rgba(black, 0.5)
