%p
  %strong #{@user.name},

%p
  Some of your content on Refsheet.net has been moderated to comply
  with our <a href='https://refsheet.net/terms'>Terms of Service</a>:

- case @report.moderatable_type
- when 'Image'
  %p
    Your image, <em>#{@report.moderatable.title}</em>, has been removed by
    a moderator.
- when 'Media::Comment'
  %p
    A comment you left has been removed by a moderator:
    %blockquote= @report.moderatable.comment

%p
  We took this action because:
  = @report.violation_message

- if @report.moderatable_type == 'Image'
  %p
    If you feel this was made in error, please reach out to the moderation
    team by emailing <a href='mailto:mau@refsheet.net'>mau@refsheet.net</a>.
    Your image can still be restored within 1 week of this notice if your
    dispute is approved.

%p
  %strong Thanks,
  %br/
  Refsheet.net Moderators
