.character-card
  @extend .card
  @extend .z-depth-2

  .character-image
    overflow: hidden
    position: absolute
    left: 67%
    bottom: 0
    top: 0
    right: 0

    img
      height: 100%
      width: 100%
      object-fit: cover

    .slant
      position: absolute
      background-color: #212121
      width: 100%
      transform: rotate(-15deg)
      transform-origin: top right
      left: -100%
      height: 150%

  .character-details
    @extend .padding--large
    margin-right: 33%
    height: 100%
    display: flex
    flex-direction: column
    min-height: 400px

    .name
      @extend .thin
      margin: 0
      font-size: 3rem
      color: $primary-color
      display: block

      .title-suffix,
      .title-prefix
        color: rgba(255, 255, 255, 0.8)
        font-size: 2rem

        &.official
          color: $secondary-color

    .nickname
      font-size: 2rem

    .description
      flex-grow: 1
      overflow: hidden

      p:last-child
        margin-bottom: 0

    & > .actions
      @extend .margin-top--large

    h2
      @extend .thin
      margin-bottom: 0
      font-size: 1.5rem
      color: $primary-color

      & + p
        @extend .margin-top--small

  @media #{$small-and-down}
    margin-top: 75px
    padding-top: 50px
    height: auto
    min-height: 0

    .character-image
      position: absolute
      border-radius: 75px
      width: 150px
      height: 150px
      top: -75px
      left: 50%
      margin-left: -75px

      .slant
        display: none

      img
        width: 100%
        height: 100%
        max-height: none
        object-fit: cover

    .character-details
      margin-right: 0
      height: auto
      min-height: 0

      .name
        text-align: center

      & > .actions
        text-align: center
