.character-swatches

  .container
    display: table

    .swatch-row
      @extend .z-depth-1
      display: table-row

    .swatch
      display: table-cell
      font-size: 0.8rem
      height: 16px
