.character-swatches
  .collapsible
    @extend .z-depth-2
    border: none

  .swatch-container
    display: table
    table-layout: fixed
    width: 100%
    padding: 0
    border: none
    background-color: transparent
    line-height: 16px

    .swatch-row
      display: table-row

    .swatch
      display: table-cell
      font-size: 0.8rem
      height: 16px
      padding: 0 7px
      text-align: center

      i.material-icons
        float: none
        margin: 0
        display: inline

  .collapsible-body
    border: none
    @extend .padding--medium
