.character-link-card
  @extend .z-depth-1
  width: 100%
  padding-bottom: 125%
  position: relative
  display: block
  margin-bottom: 1.5rem

  img
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    top: 0
    left: 0

  .character-name
    position: absolute
    bottom: 0
    width: 100%
    padding: 1rem
    background-color: rgba(0, 0, 0, 0.5)
    color: white
    text-align: center
    opacity: 0.0
    transition: opacity 0.3s ease

  &:hover
    .character-name
      opacity: 1.0
