.content
  .row
    .col.s12.m8
      %h1 Characters

    .col.s12.m4
      = form_tag admin_characters_path, class: 'search', method: :get do
        .input-field.margin-top--none
          = text_field_tag :q, params[:q], type: :search, id: 'search', placeholder: 'Search Characters'
          = label_tag :search, material_icon(:search)

  = render partial: 'table', locals: { characters: @characters }
