- title 'Privacy Policy'

.jumbotron.short
  .jumbotron-background
    .container
      %h1 Privacy Policy
      %p Your privacy is important to us, and we do everything we can to keep it secret. To keep it safe.

%section.static-content
  .container.section#privacy-policy
    .row
      .col.m12
        %p
          It is Refsheet.net's policy to respect your privacy regarding any information we may collect while operating
          our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect,
          use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy
          policy below.

        %p
          In short, there is some information required to identify your user account with the website, and it is
          required for the website to operate. For as long as you have a user account, this information will be stored.
          "Stored" and "Storage" primarily refers to our database, replicas, and backups. It may also refer to our
          logs, regional caches, temporary server memory, and file uploads.

    %h2 What we Collect
    .row
      .col.m8
        %p
          Everything we store is information you provided, with some extremely mundane exceptions. We collect the bare
          minimum to establish basic functionality of the website. Any additional information is provided as required,
          or as initiated by you, the User.

          .row
            .col.s12.m6
              %div.strong Username
              A unique and arbitrary string used to generate your URL and identify you on the site.
            .col.s12.m6
              %div.strong Display Name
              A nickname, trade name, or arbitrary name that is slightly easier to read than your username.
            .col.s12.m6
              %div.strong Email Address
              Some form of contact so we can notify you of password resets, character transfers, etc.
            .col.s12.m6
              %div.strong Password
              Which is never actually stored in plain text, but this helps verify your identity.

      .col.m4
        .tl-dr
          How can you log in to a website if we can't store your login information?

    %h2 Data Retention
    .row
      .col.m8
        %p
          In the event that you delete your user account, those fields above will be changed to empty or randomly
          generated values. The record of the account becomes nothing more than an anonymous bit of data to ensure
          things which required a user aren't suddenly broken.

        %p
          To prevent loss of data, we have several layers of backups for our databases and file uploads. To ensure a
          better experience for users everywhere, we have local and regional caching and duplication of data. Because
          of this, changes to data will take time (no more than 24 hours) to fully change throughout our system.

        %p
          You have the right to request your personal information be removed from the website. Usually, deleting your
          account accomplishes this, but if manual intervention gives you the warm fuzzies you may use the contact info
          provided at the bottom of this website to request removal. This could take time, as there is only one human
          involved in that process.

      .col.m4
        .tl-dr
          We've got a couple databases and a few other servers that hold info, but it's all kept in sync and will
          be cleared if you delete your account.

    %h2 Analytic Data
    .row
      .col.m8
        %p
          We also collect some mundane information transmitted by your browser, which is used to improve the site. You
          have perhaps heard of this data before, but it specifically includes your device's operating system (iOS 32),
          browser vendor and version (Chrome 94), and sometimes language settings. This is very helpful to identify
          bugs that happen only on some devices. Look up "User Agent" to learn more.

        %p
          %em We collect and store your IP address.
          And it is a very boring bit of data. It's required to connect to the server, and from it we deduce generally
          what country you may or may not be from, with very poor accuracy. IP addresses also don't reliably identify
          an individual, as they frequently change and can be shared with many users.

      .col.m4
        .tl-dr
          We use some tools to tell us how many people are on the site, as well as to capture and report bugs and
          errors. This helps us know about bugs and what caused them, and know how many people are on the site.

    %h2#cookies Cookies!
    .row
      .col.m8
        %p
          "This site uses cookies" is something you've seen a lot on the internet. A cookie is a file your web browser
          saves so that when you reload the page, we know who you are. Otherwise, you would have to log in every time
          you do anything, and that's not really fun.

        %p
          In addition to our own session identification, we store cookies to identify your unique browsing session with
          Google Analytics (to analyse traffic), and Sentry.io (to capture and notify us of bugs). These cookies do not
          share any personal information with third party providers. Your pseudo-random user ID is shared with Sentry
          to link users to bug reports they have encountered.

      .col.m4
        .tl-dr
          Ever wonder how you can refresh a page and it remembers who you are? Cookies. They aren't (usually) scary.

    %h2 Additional Information Collection
    .row
      .col.m8
        %p
          Other features may require more data. If you become a Supporter via Patreon, information about your pledge is
          stored on this site, which includes your name and email address used on Patreon. The email address is used for
          matching pledges with verified accounts on this website.

      .col.m4
        .tl-dr
          If we need more info, we'll ask. If you provide, you agree to provide. Simple?

    %h2 In General
    .row
      .col.m8
        %p
          We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or
          consent of the individual concerned.

        %p
          Before or at the time of collecting personal information, we will identify the purposes for which
          information is being collected.

        %p
          We will collect and use personal information solely for fulfilling those purposes specified by us and for
          other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.

      .col.m4
        .tl-dr
          We're not doing anything illegal, we're telling you WHY we're collecting your information (generally),
          and we'll try to use it for that reason.
    .row
      .col.m8
        %p
          Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary
          for those purposes, should be accurate, complete, and up-to-date.

        %p
          We will protect personal information by using reasonable security safeguards against loss or theft, as well
          as unauthorized access, disclosure, copying, use or modification.

        %p
          We will make readily available to customers information about our policies and practices relating to the
          management of personal information.

        %p
          We will only retain personal information for as long as necessary for the fulfilment of those purposes.

      .col.m4
        .tl-dr
          We're only going to collect what we need, for as long as we need, to function. I don't need to know what
          color shirt you're wearing. We'll also try and secure this information, and we're happy to tell you all
          about it! (if you ask)

    .row
      .col.m8
        %p
          We are committed to conducting our business in accordance with these principles in order to ensure that the
          confidentiality of personal information is protected and maintained. Refsheet.net may change this privacy
          policy from time to time at Refsheet.net's sole discretion.

      .col.m4
        .tl-dr
          Oh just read the paragraph, then you're done. Congratulations! You made it!

    .muted Version published: 25 January 2020
