- title 'Terms of Service'

%section.static-content
  .container
    %h1.center Refsheet.net Terms of Service

    .row
      .col.m8
        %h2 1. Terms

        %p By accessing the website at Refsheet.net, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.

        %p Additionally, the sections marked TL;DR:, if supplied, are merely a convenience and do not alter these terms. If there is any conflict between these terms and the TL;DR, these terms will supersede those sections.

      .col.m4
        .tl-dr If you're using our site, you agree to these terms. Also, you're agreeing to those terms, the TL;DR section here is just to help you, with a bit of snark. You're welcome.

    .row
      .col.m8
        %h2 2. Use License

        %p Permission is granted to temporarily download one copy of the materials (information or software) on Refsheet.net's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:

        %ul.browser-default
          %li modify or copy the materials;
          %li use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
          %li attempt to decompile or reverse engineer any software contained on Refsheet.net's website;
          %li remove any copyright or other proprietary notations from the materials, including artist watermarks, signatures or other such identifying marks;
          %li alter and/or republish any materials on the site, including usage for your own purposes in any public form; or
          %li transfer the materials to another person or "mirror" the materials on any other server.

        %p This license shall automatically terminate if you violate any of these restrictions and may be terminated by Refsheet.net at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.

      .col.m4
        .tl-dr You can view the stuff in your browser, but please don't save it, and especially don't upload it or scrub off watermarks. If you do, delete it now.

    .row
      .col.m8
        %h2 2.1. Acceptable Content

        %p
          Refsheet.net reserves the right, in its sole discretion, to censor, filter and/or remove any content which
          promotes a harmful or unwelcome environment for other users. This includes, but is not limited to, images,
          text, or other media (further: "media") which:

        %ul.browser-default
          %li
            promotes or represents actions, groups, persons, or symbols identifying with hate groups or their ideologies.
            This includes Nazis and Neo-Nazis, the KKK, and similar.
          %li
            attacks a person or group of people on the basis of race, religion, ethnicity, sexual orientation, disability,
            or gender.
          %li
            displays or suggests sexual or explicit content with characters or persons who are not legally, or (in the
            event of a fictional character) canonically over the age of consent, defined in current governing law as
            18 years of age.
          %li
            displays or suggests sexual activity with any non-fictional animal or otherwise promotes bestiality. This
            does not include <em>fictional</em> works which depicts consensual sexual activity involving anthropomorphic or
            other non-human species, or any costume or disguise which may give the appearance of an animal.

        %h3 2.1.1. Restrictions on Real-Life Imagery and Pornography

        %p
          This website is for hosting character art and references. In addition to the terms above, you are not permitted
          to upload any content which depicts real-life persons that are not you, or persons which have granted you explicit
          permission to upload this image. The following items are NOT permitted to be uploaded to Refsheet.net:

        %ul.browser-default
          %li
            Media of another real-life person which is not you or images of a person which you do not have the consent to
            post to Refsheet.net. This includes but is not limited to "face claims". Such media are acceptable if linked
            from an external website, or referenced by name.
          %li
            Media which depict real-life nudity. This is not allowed in any form on Refsheet.net, regardless of the content
            rating of the image. In addition, posting pornographic or suggestive media of persons which have not consented
            to the posting of this image to Refsheet.net can result in immediate account suspension.

        %h3 2.1.2. Restrictions on Character and User Featured Images

        %p
          The Profile Image, Avatars, and Header Graphics of characters, users, forum groups, Artist listings and other areas
          of the site (further: "Featured Images") will be visible to the general public regardless of content rating, even if
          the containing profile or group of that Featured Image is rated for explicit content. The following restrictions
          apply to such Featured Images:

        %ul.browser-default
          %li
            Featured Images must comply with the other Terms set forth in this document.
          %li
            Featured Images must NOT feature explicit content, as defined in section 2.2 below.
          %li
            Featured Images must NOT suggest or give the illusion of any explicit or sexual activity, this includes cropping
            pornographic illustrations, posing with or featuring objects of a sexual nature (condoms, dildos, etc.), or any
            other content which is unsuitable for minors to view.

        %p
          These restrictions do not apply to the content within the character profiles, forum groups or other site arease so
          as long as those uploads comply with the other Terms in this document, and such uploads are not used as a Featured
          Image as defined prior.

      .col.m4
        .tl-dr
          We can remove content. Don't post Nazi things, don't post hate speech, say no to underage porn, and please
          don't abuse animals.
          %br/
          Also, IRL porn isn't what this site is for, especially if the person pictured didn't consent to you sharing. Stop that. IRL pics are also
          not a great idea, but you can link them if it's important to the character.
          %br/
          Oh and ONE MORE THING: Your avatars and such are public, so those can't be anything you wouldn't want your grandma
          or little cousin to see, capeesh?

    .row
      .col.m8
        %h2 2.2. Upload Policy

        %p
          Refsheet.net reserves the right to moderate and delete any Media (images, text, audio, videos, etc.) in which:

        %ul.browser-default
          %li
            you are not the original creator, or do not have permission from the original creator to post online.
          %li
            the creator of the media is not properly credited or falsely credited to another person(s).
          %li
            the Media is not properly tagged Not Safe For Work (NSFW) and contains:

            %ul.browser-default
              %li visible genitals of any form,
              %li "detailed bulge", or genitals visible and identifiable through clothing,
              %li any sexual act,
              %li violence, blood, gore (including "candy gore").

          %li
            the Media violates any part of these Terms.

      .col.m4
        .tl-dr
          Don't steal artwork, credit where credit is due, please flag your lewds, and follow other rules with your uploads.
          %br/
          And seriously, no Nazis.

    .row
      .col.m8
        %h2 2.3. Authorized Users

        %p
          Refsheet.net is not intended for children under 16 years of age to create and publish content. If you are under
          16 years of age, you are not authorized to create an account on Refsheet.net and publish content, upload images
          or otherwise contribute to the website.

        %h3 2.3.1 Consent to view Age-Restricted Content

        %p
          Some user-contributed content on this website depicts artwork which is intended for persons at or over the age of 18
          years old. This content is made available by disabling the Content Filter ("NSFW On"). Users under the age of 18
          are expressly prohibited from disabling the content filter and accessing age-restricted content, as defined in
          section 2.2 above, or otherwise defined as Age-Restricted Content by local governing authorities.

        %p
          Additionally, users under the age of 18 are FORBIDDEN from posting, discussing, advertising or soliciting, or
          otherwise contributing Age-Restricted Content on Refsheet.net. This includes offering NSFW Art commissions, posting
          NSFW art, or including NSFW descriptions or text in any form on the website, including in private chats.

        %p
          Any users which are found in violation of this section will be immediately removed from the website without appeal.

      .col.m4
        .tl-dr
          You have to be 16 years old to make an account. You have to be 18 years old to look at porns. If you're under 18
          and you solicit or post The Pronz, you WILL be immediately permabanned. Seriously. Stop that. There are laws about this.
          What the hell.
          %br/
          "I'll be 16 next week" means come back next week. Wait a day to be sure. Timezones are hard.

    .row
      .col.m8
        %h2 2.4. NF&zwsp;T & Cry&zwsp;pto Trad&zwsp;ing
        
        %p
          Content uploaded to Refsheet.net must not be the target of an NF&zwsp;T, feature the contents of an NF&zwsp;T, or otherwise
          be associated with NF&zwsp;Ts or Cry&zwsp;ptocurrency Trad&zwsp;ing. Text, media, conversations, or other content on Refsheet.net
          is prohibited from linking to, advertising, promoting, or otherwise endorsing NF&zwsp;T & Cry&zwsp;pto Trad&zwsp;ing.
          
        %p
          Character pricing within the marketplace is based on US Dollars only. Any attempt to exchange a character, artwork, or other
          assets for Cry&zwsp;ptocurrency through the Refsheet.net Marketplace, its forums, or any other communication channels on the
          site is prohibited.

        %p
          Due to the extremely high incidences of art theft, plagirism, and nonconsentual exchanges of assets associated with and utilizing
          NF&zwsp;Ts, they will not be considered by Refsheet.net or its Admin(s) to be valid proof of usage rights or ownership of any 
          media that they represent. 
          
      .col.m4
        .tl-dr
          There are so many other wonderful ways to support artists and art trade, and this isn't it. This technology has caused
          immeasurable damage to artists, and is strongly abused for fraud and theft. Whether with pure intention or not, it no longer
          has a place here.

    .row
      .col.m8
        %h2 3. Disclaimer

        %p The materials on Refsheet.net's website are provided on an 'as is' basis. Refsheet.net makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.

        %p Further, Refsheet.net does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.

      .col.m4
        .tl-dr Look, it's under development, okay? I'm not responsible if something wonky happens from this code. And nothing on this site, or any sites linked to it, says it's my fault. Please don't grab the spray bottle.

    .row
      .col.m8
        %h2 4. Limitations

        %p In no event shall Refsheet.net or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Refsheet.net's website, even if Refsheet.net or a Refsheet.net authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

      .col.m4
        .tl-dr
          I keep a lot of backups and stuff, but if something bad happens and data gets lost, it'd be good if you kept a backup as well. I'm not responsible for that loss :(
          %p.muted ... unless you live in a place that doesn't let me say that, in which case crum. I'll try not to lose your data.

    .row
      .col.m8
        %h2 5. Accuracy of materials

        %p The materials appearing on Refsheet.net's website could include technical, typographical, or photographic errors. Refsheet.net does not warrant that any of the materials on its website are accurate, complete or current. Refsheet.net may make changes to the materials contained on its website at any time without notice. However Refsheet.net does not make any commitment to update the materials.

      .col.m4
        .tl-dr Don't take every word on this site as the one and only truth, I might make a mistake and say that grass is green or something. I might also change stuff up, so stay on your toes.

    .row
      .col.m8
        %h2 6. Links

        %p Refsheet.net has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Refsheet.net of the site. Use of any such linked website is at the user's own risk.

      .col.m4
        .tl-dr Just because there's a link on my site doesn't mean I approve of whatever they're doing or think they're safe or whatever, just eh, be careful on the internet.

    .row
      .col.m8
        %h2 7. Charges for Services, Marketplace

        %p
          Refsheet.net may charge for access to portions of the Site or access to extended features within the Site. This is
          referred to as Supporter status, which is inclusive of 3rd party support via Patreon. Refsheet.net reserves the
          right at any time to change the scope of features granted to such Supporter tier users. Therefore, your access to
          some of the Site's features, content, and services may be limited depending on your level of Supporter subscription.

        %p
          Any Supporter amount contributed is on a month-to-month basis, which can renew automatically should you authorize
          a recurring subscription. You are free to cancel your subscriptions at any time, at which point your Supporter
          status will continue until it expires on your previous renewal day.

      .col.m4
        .tl-dr
          Patrons, and now direct site supporters, have always had access to preview features and do some fancy things on
          the site. Those features change as I develop them, and sometimes become generally available. I'll probably keep
          changing up what features Supporters get.

    .row
      .col.m8
        %h2 8. Modifications

        %p Refsheet.net may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.

      .col.m4
        .tl-dr So like, I might change stuff around in here to protect us both better. Keep checking in, so you know what you're working with here.

    .row
      .col.m8
        %h2 9. Governing Law

        %p These terms and conditions are governed by and construed in accordance with the laws of Minnesota and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.

      .col.m4
        .tl-dr Refsheet.net is a Minnesota company, so those laws kinda manage what we do here.


    .muted Version published: 03 May 2021
