%section
  .container
    %h1 Admins
    .row
      - User.with_role(Role::ADMIN).each do |p|
        .col.s6.m3= p.name

    %h2 Moderators

    %h2 Patrons
    .row
      - Patreon::Patron.order(:full_name).each do |p|
        .col.s6.m3= p.full_name
