.forum-post
  display: table-row
  margin: 0
  padding: 0

  @at-root
    .forum-posts--group-name
      font-size: 0.9rem
      color: rgba(255, 255, 255, 0.3)
      padding-bottom: 0.2rem
      margin-bottom: 0.5rem
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)

    .forum-posts--header
      margin-bottom: 1rem

  &.new
    .forum-post--title
      font-weight: bold

  .forum-post--votes
    text-align: center
    line-height: 1rem
    width: auto
    display: table-cell
    margin: 0
    padding: 0.5rem 1rem 0.5rem 0

    & > a, & > span
      display: block
      line-height: 1.5rem

    i.material-icons
      line-height: 1.5rem
      vertical-align: middle
      height: 1.5rem

    .forum-post--karma
      font-weight: bold
      color: $text-light-color

  .forum-post--title
    .tag
      vertical-align: middle
      font-size: 0.7rem
      text-transform: uppercase
      padding: 0.1rem 0.25rem
      border-radius: 0.25rem
      color: white
      font-weight: bold
      margin-right: 0.5rem
      background-color: $card-bg-color

      &.resolved
        background-color: $success-color

      &.alert
        background-color: $error-color

      &.new
        background-color: $brand-primary


  .forum-post--summary
    display: table-cell
    margin: 0
    padding: 0.5rem 0 0.5rem 0

  .forum-post--date
    display: table-cell
    text-align: right
    width: 200px

    .user-summary
      padding-right: 4rem
      position: relative

      .avatar
        position: absolute
        right: 0
        top: 0
        width: 3rem
        height: 3rem

      a
        display: block
        line-height: 1.5rem
        vertical-align: top

      .time
        @extend .muted
        line-height: 1.5rem
        vertical-align: baseline

  .forum-post--meta
    @extend .muted
    margin-top: 0.25rem
    color: $text-light-color !important

    a
      color: inherit

      &:hover
        text-decoration: underline