.forum-post
  display: flex
  padding: 0
  margin: 0 0 1rem

  &.loading
    opacity: 0.5 !important
    filter: blur(0.2)

  @at-root
    .sidebar .forum-post--date
      .user-summary
        padding-left: 4rem
        position: relative

        .avatar
          position: absolute
          left: 0
          top: 0
          width: 3rem
          height: 3rem

        a
          display: block
          line-height: 1.5rem
          vertical-align: top

        .time
          @extend .muted
          line-height: 1.5rem
          vertical-align: baseline

    &.admin a
      color: $admin-color !important

    &.moderator a
      color: $moderator-color !important

    .forum-post--votes
      text-align: center
      width: auto
      display: flex
      flex-direction: column
      flex-grow: 0
      flex-shrink: 0
      margin: 0
      padding: 0

      &.shade
        background-color: rgba(0, 0, 0, 0.1)

      & > a, & > span
        display: block
        line-height: 1.5rem

      i.material-icons
        line-height: 1.5rem
        vertical-align: middle
        height: 1.5rem

      .forum-post--karma
        font-weight: bold
        color: $text-light-color
        flex-grow: 1

      .forum-post--upvote,
      .forum-post--downvote
        flex-grow: 0

        a
          padding: 0.5rem
          display: block

    .forum-post--preview
      flex-grow: 1

    .forum-posts--group-name
      font-size: 0.9rem
      color: rgba(255, 255, 255, 0.3)
      padding-bottom: 0.2rem
      margin-bottom: 0.5rem
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)

    .forum-posts--header
      margin-bottom: 1rem

    .forum-post--replies
      margin-left: 4rem

    .forum-post--reply,
    .forum-post--main
      padding-left: 4rem
      position: relative
      margin-bottom: 1.5rem

      .forum-post--whodunnit
        margin-bottom: 0.25rem

      .forum-post--votes
        display: block
        position: absolute
        left: 0
        top: 4rem
        padding: 0
        width: 3rem

      .avatar
        position: absolute
        left: 0
        top: 0
        width: 3rem
        height: 3rem

    .forum-post--tags

      .dropdown-container
        position: relative
        display: inline-block
        padding-right: 1rem
        cursor: pointer

        .dropdown-content
          min-width: 150px
          width: auto

        &:hover
          .tag
            background-color: transparent
            color: $brand-primary !important

            &:after
              border-top-color: $brand-primary

        .tag
          margin-right: 0
          padding-right: 1.5rem

          &:after
            content: ''
            display: block
            position: absolute
            top: 50%
            right: 1.5rem
            border: 0.2rem solid transparent
            border-top: 0.4rem solid $text-light-color
            border-bottom: 0 none
            transform: translateY(-50%)
            transition: border-top-color 0.3s ease

      .tag
        @extend .btn
        @extend .btn-flat
        @extend .btn-small

        display: inline-block
        padding-left: 0
        padding-right: 0
        margin-right: 1.5rem
        color: $page-text-color !important
        transition: color 0.3s ease

        i.left
          margin-right: 0.5rem

        &:not(.link):hover
          background-color: transparent
          cursor: initial

        &.link:hover, &.link:active
          background-color: transparent
          color: $brand-primary !important


  &.forum-post--main
    display: block
    min-height: 9rem

    .forum-post--date
      display: block
      float: right

    h2
      color: $brand-primary
      font-size: 1.5rem
      margin: 0 0 0.5rem

  &.new
    .forum-post--title
      font-weight: bold

  .forum-post--title
    margin-bottom: 0.25rem

    .tag
      vertical-align: middle
      font-size: 0.7rem
      text-transform: uppercase
      padding: 0.1rem 0.25rem
      border-radius: 0.25rem
      color: white
      font-weight: bold
      margin-right: 0.5rem
      background-color: $card-bg-color

      &.resolved
        background-color: $success-color

      &.alert
        background-color: $error-color

      &.new
        background-color: $brand-primary


  .forum-post--summary
    display: flex
    margin: 0
    padding: 0.5rem 1rem
    flex-direction: column
    flex-grow: 1

  .forum-post--date
    display: block
    text-align: right
    width: 200px
    flex-shrink: 0
    flex-grow: 0
    padding: 0.5rem 1rem

    .user-summary
      padding-right: 4rem
      position: relative

      .avatar
        position: absolute
        right: 0
        top: 0
        width: 3rem
        height: 3rem

      a
        display: block
        line-height: 1.5rem
        vertical-align: top

      .time
        @extend .muted
        line-height: 1.5rem
        vertical-align: baseline

  .forum-post--meta
    margin-top: 0.25rem
