- if reports.is_a? Hash
  - reports.each do |group, items|
    %h2.list-group-heading= group
    = render partial: 'table', locals: { reports: items }

- else
  .row
    - reports.each do |report|
      .col.s6.m4.l3
        = render partial: 'card', locals: { report: report }

- if reports.empty?
  .caption.center Nothing to show here...
