- title @forum.name
= action_button :edit, '#form-modal', caption: 'Edit Forum', class: 'red modal-trigger'

.content
  %p (Forum stats here I guess? Idek.)

= render partial: 'form', locals: { forum: @forum }
