body
  background-color: $page-bg-color
  color: $page-text-color

  &.no-footer
    footer
      display: none

  #rootApp
    display: flex
    min-height: 100vh
    flex-direction: column

    main
      position: relative
      flex: 1

      background:
        position: center
        size: cover
        attachment: fixed

    footer
      margin-top: 0
      color: color('grey', 'base') !important

      .footer-copyright
        background-color: rgba(0, 0, 0, 0.2)
        font-size: 0.9rem
        color: color('grey', 'darken-1') !important
