body
  background-color: $page-bg-color
  color: $page-text-color

  &.no-footer
    footer
      display: none

  #rootApp
    display: flex
    min-height: 100vh
    flex-direction: column

    main
      position: relative
      flex: 1
      padding-bottom: 5rem

      background:
        position: center
        size: cover
        attachment: fixed

    footer
      margin-top: 0

      .footer-copyright
        background-color: rgba(0, 0, 0, 0.2)
