// This file was changed but apparently not reloaded
// Keep this in sync with UserUtils.js

$admin-color: #2480C8
$patron-color: #F96854
$moderator-color: #B298DC
$supporter-color: #C95D63

$admin-bg-color: darken(desaturate($admin-color, 50%), 35%)
$patron-bg-color: #0f0404
$moderator-bg-color: #0c050f
$supporter-bg-color: #0f0505

$brand-primary: color('teal', 'lighten-1')
$brand-dark: color('teal', 'darken-2')
$brand-darker: color('teal', 'darken-3')
$brand-darkest: color('teal', 'darken-4')
$brand-border: color('teal', 'lighten-2')

$secondary-color: color("teal", "lighten-1")
$success-color: color("green", "darken-1")
$error-color: color("red", "darken-1")
$link-color: $brand-primary