- if images.is_a? Hash
  - images.each do |group, items|
    %h2.list-group-heading= group
    = render partial: 'table', locals: { images: items }

- else
  .row
    - images.each do |image|
      .col.s6.m4.l3
        = render partial: 'card', locals: { image: image }

- if images.empty?
  .caption.center Nothing to show here...
