.NavBar.navbar-fixed.user-bar
  .navbar-shroud
  %nav
    .container
      %ul.menu.left.hide-on-med-and-up
        %li
          %a
            %i.material-icons menu
      %a.logo.left{:href => "/"}
        %img{:alt => "Refsheet.net", :height => "32", :src => "/assets/logos/RefsheetLogo_64.png", :width => "32"}/
      %ul.site-nav.visible-on-med-and-up
        %li
          %a{"aria-current" => "false", :href => "/"} Home
        %li
          %a{"aria-current" => "false", :href => "/api"} API
      .right

