<div id="appRoot">
</div>

<div class="shaded-background" id="rootAppLoader">
  <main id="loading-screen">
    <div class="modal-page-content">
      <div class="narrow-container">
        <div id="script-on" style="display: none;">
          <div class="loading-icon">
            <%= image_tag 'logos/RefsheetLogo_White_200.png', width: 100, height: 100, alt: 'Loading...', title: 'Loading...' %>
          </div>

          <h1 id="loadstatus">Loading...</h1>
          <p id="loadmessage" style="color: rgba(255,255,255,0.5);">Fetching scripts</p>

          <script type="text/javascript">
            document.getElementById('script-on').style.display = '';
          </script>
        </div>

        <noscript>
          <%= image_tag 'logos/RefsheetLogo_White_200.png', width: 100, height: 100, alt: 'Refsheet.net', title: 'Refsheet.net' %>
          <h1>Javascript Required</h1>
          <p class="margin-top--large red-text text-lighten-1">
            Refsheet requires Javascript to work properly. Please check your browser
            settings, and enable Javascript if it is not already turned on.
          </p>
        </noscript>
      </div>
    </div>
  </main>
</div>

<script type="text/javascript">
  var props = <%= ({
    gaPropertyID: ENV['GA_PROPERTY_ID'],
    eagerLoad: @eager_load,
    flash: flash.to_hash,
    environment: Rails.env,
    notice: ENV['MAINTENANCE_NOTICE'],
    assets: render_asset_paths,
    config: {
      recaptchaSiteKey: Rails.configuration.x.recaptcha.site_key
    }
  }.to_json).html_safe %>;

  // This is broken after Webpack 5 upgrade???
  // Packs.application.init('root', props);
  ___init('appRoot', props);
</script>

<% unless @no_fun %>
<% if DateTime.now.in_time_zone("Central Time (US & Canada)").to_date == Date.new(2021, 04, 01) or @force_fun %>
<style type="text/css">
    div:nth-child(even) {
        transform: rotate(0.20deg);
    }

    div:nth-child(odd) {
        transform: rotate(-0.3deg);
    }

    .avatar { transform: rotate(90deg); }
</style>
<% end %>
<% end %>
