#appContainer
#rootAppLoader.shaded-background
  %main#loading-screen
    .modal-page-content
      .narrow-container
        #script-on{style: "display: none;"}
          .loading-icon
            = image_tag 'logos/RefsheetLogo_White_200.png', width: 100, height: 100, alt: 'Loading...', title: 'Loading...'

          %h1#loadstatus{style: "margin-bottom: 0"} Loading...
          %p#loadmessage{style: "color: rgba(255,255,255,0.5)"}
            Fetching scripts

          :javascript
            document.getElementById('script-on').style.display = '';

        %noscript
          = image_tag 'logos/RefsheetLogo_White_200.png', width: 100, height: 100, alt: 'Refsheet.net', title: 'Refsheet.net'

          %h1 Javascript Required

          %p.margin-top--large.red-text.text-lighten-1
            Refsheet requires Javascript to work properly. Please check your browser
            settings, and enable Javascript if it is not already turned on.

:javascript
  (function() {
    var cssTest = getComputedStyle(document.getElementById('rsVersion'))

    var loaded = {
      jsV1: (typeof exportPackGlobals !== 'undefined'),
      jsV2: !!(typeof Packs !== 'undefined' && Packs.application),
      jsV2v: false,
      cssV1: cssTest.paddingLeft === '1px',
      cssV2: cssTest.paddingRight === '1px'
    };

    var packName = {
      jsV1: "legacy JavaScript",
      jsV2: "application source",
      jsV2v: "application framework",
      cssV1: "legacy stylesheet",
      cssV2: "application styles"
    };

    var props = #{ ({
      gaPropertyID: ENV['GA_PROPERTY_ID'],
      eagerLoad: @eager_load,
      flash: flash.to_hash,
      environment: Rails.env,
      notice: ENV['MAINTENANCE_NOTICE'],
      assets: render_asset_paths
    }.to_json).html_safe };

    function load(pack) {
      if (pack) {
        loaded[pack] = true;
        document.getElementById('loadmessage').innerHTML = "Loaded " + packName[pack]
        console.log("Lodaded " + packName[pack])
      }

      if (loaded.jsV1 && loaded.jsV2 && loaded.cssV1 && loaded.cssV2 && loaded.jsV2v) {
        document.getElementById('loadmessage').innerHTML = "Loaded!"

        if (window.exportPackGlobals && window.Packs && window.Packs.application) {
          window.exportPackGlobals();
        } else {
          console.error("V1 wasn't actually loaded...")
        }

        Packs.application.init('appContainer', props, Refsheet);
      }
    }

    document.getElementById('cssV1').addEventListener('load', function() {
      load('cssV1');
    });

    document.getElementById('cssV2').addEventListener('load', function() {
      load('cssV2');
    });

    document.getElementById('jsV2').addEventListener('load', function() {
      load('jsV2');
    });

    document.getElementById('jsV1').addEventListener('load', function() {
      load('jsV1');
    });

    document.getElementById('jsV2v').addEventListener('load', function() {
      load('jsV2v');
    });

    // Check for already loaded items:
    load();
  })();