= react_component 'Routes',
                  gaPropertyID: ENV['GA_PROPERTY_ID'],
                  eagerLoad: @eager_load,
                  flash: flash.to_hash,
                  environment: Rails.env,
                  notice: ENV['MAINTENANCE_NOTICE']

#rootAppLoader.shaded-background
  %main#loading-screen
    .modal-page-content
      .narrow-container
        #script-on{style: "display: none;"}
          .loading-icon
            = image_tag 'logos/RefsheetLogo_White_200.png', width: 100, height: 100, alt: 'Loading...', title: 'Loading...'

          %h1 loading

          :javascript
            document.getElementById('script-on').style.display = '';

        %noscript
          = image_tag 'logos/RefsheetLogo_White_200.png', width: 100, height: 100, alt: 'Refsheet.net', title: 'Refsheet.net'

          %h1 Javascript Required

          %p.margin-top--large.red-text.text-lighten-1
            Refsheet requires Javascript to work properly. Please check your browser
            settings, and enable Javascript if it is not already turned on.
