#rootApp
  = react_component 'UserBar'

  %main.modal-content
    .container
      %h1 418 - I'm a Teapot!
      %p.caption You were looking for a character shortcut, but you found a teapot. Sorry :(

  = react_component 'Footer'
