#rootApp
  %main.modal-page-content
    .container
      %h1 Shortcode Not Found :()
      %p.caption Looks like the shortcode you tried wasn't correct. Maybe try a search?
      %a.btn{href: '/browse'} Search!
